<% const activePage = typeof currentPage !== 'undefined' ? currentPage : ''; %>
<header class="bg-red-500 text-white p-4 shadow-md">
    <nav class="container mx-auto flex justify-between items-center">
        <ul class="flex space-x-4">
            <li>
                <a href="/" class="<%= activePage === 'index' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300">
                    Go to Home
                </a>
            </li>
            <li>
                <a href="/homes" class="<%= activePage === 'home' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300">
                    homes list
                </a>
            </li>
            <li>
                <a href="/favourites" class="<%= activePage === 'favourites' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300">
                    favourites
                </a>
            </li>
            <li>
                <a href="/booking" class="<%= activePage === 'booking' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300">
                    Booking
                </a>
            </li>
            <li>
                <a href="/host/host-home-list" class="<%= activePage === 'host-home' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300">
                    host home
                </a>
            </li>
            <li>
                <a href="/host/add-home" class="<%= activePage === 'add-home' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300">
                    Add Home
                </a>
            </li>
        </ul>
    </nav>
</header>